@import './normalize.css';
html,body{
    height: 100%;
    /* width: 100%; */
}
.el-table{
    margin-top:20px;
}
.el-pagination {
    margin-top: 10px 
}

/* el-row 一行 所有元素 的居中 */
.ali-c {
    display: flex;
    align-items: center;
}
.el-row{
    margin-bottom: 10px;
}

.el-dialog__body {
    padding: 10px 20px !important;
}
.el-card__body{
    padding-top: 10px !important;
}

 .amap-info-content {
    padding: 5px 18px 5px 5px !important;
}